<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.AdminMapper">

	<!-- 데이터 생성 -->
	<insert id="insert">
		insert into tbl_admin(bnum,title,content,writer,area,startdate,enddate,img,thumbimg)
		 values(seq_admin.nextval,#{title},#{content},#{writer},#{area},#{startDate},#{endDate},#{img},#{thumbImg})
	</insert>
	
	<sql id="search">
		<if test="type != null">
			<if test="type == 'a'.toString()">area like '%' || #{keyword} || '%' and</if>
			<if test="type == 't'.toString()">title like '%' || #{keyword} || '%' and</if>
			<if test="type == 'c'.toString()">content like '%' || #{keyword} || '%' and</if>
			<if test="type == 'tc'.toString()">(title like '%' || #{keyword} || '%') or (content like '%' || #{keyword} || '%') and</if>
		</if>
	</sql>
	
	<!-- 삭제여부(remove)가 'n'인 데이터 전체 조회(페이징+검색) -->
	<select id="getListWithPaging" resultType="com.project.domain.AdminVO">
		<![CDATA[
			select 
				* 
			from
				( 
				select /*+index_desc(tbl_admin)*/ 
					rownum as rn, bnum, title, content, area, writer, regdate, updatedate, remove, cnt, thumbImg, startdate, enddate
				from 
					tbl_admin where
		]]>
		
		<include refid="search"></include> 
		
		<![CDATA[
				remove = 'n' and rownum <= #{page} * #{amount}
				) 
			where rn > (#{page}-1) * #{amount}
		 ]]>
	</select>
	
	<!-- 전체 데이터 개수 조회 -->
	<select id="countList" resultType="Integer">
		select count(*) from tbl_admin where remove = 'n'
	</select>
	
	<!-- 검색 데이터 개수 -->
	<select id="countSearch" resultType="Integer">
		 select count(*) from tbl_admin where <include refid="search"></include> remove = 'n'
	</select>
	
	<!-- 데이터 한개 조회 -->
	<select id="selectOne" resultType="com.project.domain.AdminVO">
		select * from tbl_admin where bnum = #{bnum}
	</select>
	
	<!-- 데이터 수정 -->
	<update id="update">
		update tbl_admin set title=#{title}, content=#{content}, area=#{area}, startdate=#{startDate}, enddate=#{endDate}, img=#{img}, thumbimg=#{thumbImg}, updateDate=sysdate where bnum=#{bnum}
	</update>
	
	<!-- 삭제여부(remove)가 'y'인 데이터 전체 조회 -->
	<select id="removeList" resultType="com.project.domain.AdminVO">
		select * from tbl_admin where remove = 'y' order by bnum desc
	</select>
	
	<!-- 삭제여부(remove)를 'y'로 변경 -->
	<update id="updateY">
		update tbl_admin set remove='y' where bnum=#{bnum}
	</update>
	
	<!-- 삭제여부(remove)를 'n'로 변경 -->
	<update id="updateN">
		update tbl_admin set remove='n' where bnum=#{bnum}
	</update>
	
	<!-- 데이터 삭제 -->
	<delete id="delete">
		delete tbl_admin where bnum = #{bnum}
	</delete>
	
	<!-- 조회수 +1 -->
	<update id="plusCnt">
	  update tbl_admin set cnt = cnt+1 where bnum = #{bnum}
	</update>
	
	<!-- 게시글 추천 -->
	<insert id="rec_insert">
		insert into tbl_recommend(bnum,user_id) values(#{bnum},#{user_id})
	</insert>
	
	<!-- 각 게시글 추천여부 -->
	<select id="rec_check" resultType="com.project.domain.RecommendVO">
		select * from tbl_recommend where bnum=#{bnum} and user_id=#{user_id}
	</select>
	
	<!-- 게시글 추천수 -->
	<select id="rec_count" resultType="Integer">
		select count(*) from tbl_recommend where bnum = #{bnum}
	</select>
	
	<!-- 추천 데이터 삭제(게시글 삭제될 때) -->
	<delete id="deleteRec">
		delete tbl_recommend where bnum = #{bnum}
	</delete>
	
	
	<!-- 회원 관련 -->
	
	<!-- 회원 전체 데이터 개수 조회 -->
	<select id="memberCount" resultType="Integer">
		select count(*) from tbl_member
	</select>
	
	<!-- 회원정보 조회하기 -->
	<select id="memberList" resultType="com.project.domain.MemberVO">
		select * from tbl_member
	</select>
	
	<!-- 회원정보 조회하기(id내림차순으로) -->
	<select id="memberListWithPaging" resultType="com.project.domain.MemberVO">
		<![CDATA[
			select * from 
					( 
					select
						rownum as rn, m.user_id, user_pw, user_name, regdate, auth 
					from tbl_member m, tbl_member_auth a 
					where m.user_id=a.user_id and rownum <= #{page} * #{amount}
					) 
				where rn > (#{page}-1) * #{amount}
			]]>
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="memberRemove">
		delete tbl_member where user_id = #{user_id}
	</delete>
	
	<!-- 회원탈퇴(user_id연결) -->
	<delete id="autoRemove">
		delete tbl_member_auth where user_id = #{user_id}
	</delete>
	
	<!-- 회원탈퇴(추천삭제) -->
	<delete id="recRemove">
		delete tbl_recommend where user_id = #{user_id}
	</delete>
	
	<!-- 요청글 전체조회 -->
	<select id="requestList" resultType="com.project.domain.RequestVO">
		<![CDATA[
			select * from 
			(
    			select a.*, rownum as rn from 
    			(
        			select * from tbl_request order by grpnum desc, grpord asc
       			)
       			 a where rownum <= #{page} * #{amount}
    		) 
    		where rn > (#{page}-1) * #{amount}
			]]>
	</select>
	
	<!-- 요청글 데이터 개수 -->
	<select id="requestCount" resultType="Integer">
		select count(*) from tbl_request
	</select>
	
	<!-- 요청글 작성 -->
	<insert id="insertRequest">
		insert into tbl_request(rnum,title,content,user_id,grpnum) values(seq_request.nextval,#{title},#{content},#{user_id},seq_request.nextval)
	</insert>
	
	<!-- 요청글 답변 -->
	<insert id="insertResponse">
		insert into tbl_request(rnum,title,content,user_id,grpnum,grpord,depth) values(seq_request.nextval,#{title},#{content},#{user_id},#{grpnum},1,2)
	</insert>
	
	<!-- 요청글 답변(답변추가할때마다 grpord변경) -->
	<update id="updateResponse">
		update tbl_request set grpord = grpord+1 where grpnum = #{grpnum} and grpord > 0
	</update>
	
	<!-- 요청글 답변수정 -->
	<update id="updateResponseContent">
		update tbl_request set content = #{content} where rnum = #{rnum}
	</update>
	
	<!-- 요청글 삭제 -->
	<delete id="deleteRequest">
		delete tbl_request where grpnum = #{grpnum}
	</delete>
	
	<!-- 답글 삭제 -->
	<delete id="deleteResponse">
		delete tbl_request where rnum = #{rnum}
	</delete>
	
</mapper>