<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.MemberMapper">

	<!-- 문의내역 조회 -->
	<select id="requestList" resultType="com.project.domain.RequestVO">
    	 <![CDATA[   
			 select * from 
			(
    			select rownum as rn, a.* from 
    			(
        			select * from tbl_request order by grpnum desc, grpord asc
       			)
       			 a where user_id = #{user_id} and rownum <= #{cri.page} * #{cri.amount}
    		) 
    		where rn > (#{cri.page}-1) * #{cri.amount}
            ]]>
	</select>
	
	<!-- 문의내역 개수 -->
	<select id="requestCount" resultType="Integer">
		select count(rnum) from tbl_request where user_id = #{user_id}
	</select>
	
	<!-- 문의내역 삭제 -->
	<delete id="requestDelete">
		delete tbl_request where grpnum = #{grpnum}
	</delete>
	
</mapper>